body {
    margin: 0;
    background: rgb(87, 84, 84);
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
    
}

.main {
    padding: 10px;
    background-color: rgb(87, 84, 84);
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background: #352d2d;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}